@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Sessions.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "New Session";
}

<section class="section">
    <div class="card">
        @if (ViewData["Error"] != null)
        {
            <div class="card-header">
                <div class="alert alert-danger">
                    <h4 class="alert-heading">Error</h4>
                    <p>@ViewData["Error"]</p>
                </div>
            </div>
            <div class="card-body">
                <a asp-area="ORMAdmin" asp-page="/Locations/Create" class="btn btn-success">New Location</a>
                <a asp-area="ORMAdmin" asp-page="/Sessions/Index" class="btn btn-primary">Back</a>
            </div>
        }
        else
        { 
            <div class="card-header">
                <h4 class="card-title">Create a new Session</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Session.SessionName" class="control-label"></label>
                        <input asp-for="Session.SessionName" class="form-control"/>
                        <span asp-validation-for="Session.SessionName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Session.SessionInfo" class="control-label"></label>
                        <input asp-for="Session.SessionInfo" class="form-control"/>
                        <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Session.SessionSlug" class="control-label"></label>
                        <input asp-for="Session.SessionSlug" class="form-control"/>
                        <span asp-validation-for="Session.SessionSlug" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Session.SessionDate" class="control-label"></label>
                        <input asp-for="Session.SessionDate" class="form-control"/>
                        <span asp-validation-for="Session.SessionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Session.StartTime" class="control-label"></label>
                        <input asp-for="Session.StartTime" class="form-control"/>
                        <span asp-validation-for="Session.StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Session.EndTime" class="control-label"></label>
                        <input asp-for="Session.EndTime" class="form-control"/>
                        <span asp-validation-for="Session.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Session.LocationID" class="control-label"></label>
                        <select asp-for="Session.LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                        <a asp-area="ORMAdmin" asp-page="/Sessions/Index" class="btn btn-warning">Back</a>
                    </div>
                </form>
            </div>
        }
    </div>
</section>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#sesNavBase').addClass('active');
        $('#sesNewNav').addClass('active');
        $('#sesNavSub').addClass('active submenu-open');
    });
</script>
        }
