@using OpenRepairManager.Api.Services
@{
    var setting = SettingsService.GetSetting("SiteName");
    if(setting != null)
    {
        ViewData["SiteName"] = SettingsService.GetSetting("SiteName").Value;
    }
    else
    {
        ViewData["SiteName"] = "Open Repair Manager";
    }
}
<!DOCTYPE html>
<html lang="en">

<partial name="_DashHeadPartial"/>

<body>
    <script src="~/assets/static/js/initTheme.js"></script>
    <div id="app">
        <partial name="_AdminNavPartial"/>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>@ViewData["Title"]</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-area="ORMAdmin" asp-page="/ORMAdmin/Index">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="page-content"> 
                <section class="row">
                    @RenderBody()
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>Open Repair Manager &copy; 2024-@DateTime.Now.Year Mitchell Hawks</p>
                    </div>
                    <div class="float-end">
                        <p>Dashboard powered by <a href="https://github.com/zuramai/mazer" target="_blank">Mazer</a></p>
                    </div>
                </div>
            </footer>
            <form hidden id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </div>
    <script data-cfasync="false" src="~/assets/static/js/components/dark.js"></script>
    <script data-cfasync="false" src="~/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    
    <script data-cfasync="false" src="~/assets/compiled/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    
<!-- Need: Apexcharts -->
<script data-cfasync="false" src="~/assets/extensions/apexcharts/apexcharts.min.js"></script>
<script data-cfasync="false" src="~/assets/static/js/pages/dashboard.js"></script>

</body>