@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Setup.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Setup";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Welcome to Open Repair Manager!</h4>
        </div>
        <div class="card-body">
            <p>Welcome to ORM! Through the following pages we will setup your server to get you up and running.</p>
            <p>First up, what is the name of your repair program? (EG. Repair Cafe [City Name])</p>
            <form class="form form-vertical" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input class="form-control" required asp-for="Name"/>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Next</button>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebar-nav').hide();
            $('#setup-nav').show();
            $('#setupWelcomeNav').addClass('active');
        });
    </script>
}