@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Setup.SetupCompleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h1 class="title">Setup Complete!</h1>
                <h2></h2>

            </div>
            <div class="content">
                <p>
                    The database has been setup successfully and is ready to go! Thanks for using Open Repair Manager!
                </p>
                <form method="post">
                    <button type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
