@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.ApiKey.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>Your Api Keys</h1>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.apiKeys[0].Key)</th>
        </tr>       
    </thead>
    <tbody>
        @foreach (var key in Model.apiKeys)
        {
            <tr>
                <td>@key.Key</td><td><a asp-page="Revoke" asp-route-_key="@key.Key">Revoke</a></td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-page="Create">
    <button type="submit">test</button>
</form>
