@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.ApiKey.RevokeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<strong>Are you sure you want to revoke @Model.key.Key?</strong>
<form method="post">
    <input asp-for="key.Key" hidden />
    <input value="Yes" type="submit" />
</form>