@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Locations.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Location";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Location @Model.Location.LocationName</h4>
            </div>
            <div class="content">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Location.LocationID" />
                    <div class="form-group">
                        <label asp-for="Location.LocationName" class="control-label"></label>
                        <input asp-for="Location.LocationName" class="form-control" />
                        <span asp-validation-for="Location.LocationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.LocationStreetNo" class="control-label"></label>
                        <input asp-for="Location.LocationStreetNo" class="form-control" />
                        <span asp-validation-for="Location.LocationStreetNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.LocationStreetName" class="control-label"></label>
                        <input asp-for="Location.LocationStreetName" class="form-control" />
                        <span asp-validation-for="Location.LocationStreetName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.LocationSuburb" class="control-label"></label>
                        <input asp-for="Location.LocationSuburb" class="form-control" />
                        <span asp-validation-for="Location.LocationSuburb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.LocationPostCode" class="control-label"></label>
                        <input asp-for="Location.LocationPostCode" class="form-control" />
                        <span asp-validation-for="Location.LocationPostCode" class="text-danger"></span>
                        <input type="hidden" asp-for="Location.GMapsPlaceId" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-area="ORMAdmin" asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $(document).ready(function () {
                $('#locNavBase').addClass('active');
            });
    </script>
}
